/*Text Styles*/ 
h1, h2,h3,h4{
color: #7C96A1;
}

/*Button Styles*/
a{
color: #361600;
}

a.blue.button{
background-color: #361600;
color: white;
}

/* Home Page elements */
.coverpage{
text-align: center;
padding-top:200px;
padding-bottom: 200px;
background-image: url("http://blogs.ubc.ca/apbi200/files/2015/10/SoilCover.jpg");
}

.coverbutton{
background-color: transparent;
border: solid #FF8500;
color: #FF8500;
font-size: 2EM;
}

